.task-list {
    text-align: left;
    max-width: 90%;
    margin: auto;
  }
  button {
    margin-right: 5px;
  }

  .hide-tekst{
    overflow: hidden;
    text-overflow: ellipsis;
  }

  tr:active{
    background-color: yellow;

  }
